.DairyPage {

}

.current-emotion {

}

.current-emotion section {
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.current-emotion h4 {
  font-size: 22px;
  font-weight: bold;
  }

.img_wrapper {
  background-color: #ececec;
  width: 250px;
  height: 250px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img_wrapper_1 {
  background-color: #64c964;
}
.img_wrapper_2 {
  background-color: #9dd772;
}
.img_wrapper_3 {
  background-color: #fdce17;
}
.img_wrapper_4 {
  background-color: #fd8446;
}
.img_wrapper_5 {
  background-color: #fd565f;
}

.emotion_descript {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.content_wrapper {
  width: 100%;
  background-color: #ececec;
  border-radius: 10px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.content_wrapper p {
  padding: 22px;
  text-align: left;
  font-size: 20px;
  font-family: 'Hi Melody', cursive;
  font-weight: 500;
  line-height: 2;
}