header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header div {
  display: flex;
}

.head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

.head_btn_left {
  width: 25%;
  justify-content: flex-start;
}
.head_btn_left button {
  transition: all .5s;
}
.head_btn_left button:hover {
  background-color: #b3b3b3;
  color: #fff;
  transition: all .5s;
}

.head_btn_right {
  width: 25%;
  justify-content: flex-end;
}
.head_btn_right button {
  transition: all .5s;
}
.head_btn_right button:hover {
  background-color: #b3b3b3;
  color: #fff;
  transition: all .5s;
}

header button {
  font-family: 'Hi Melody', cursive;
}
